<div>
  <nav>
    <h2><a routerLink="/">Employee Managment</a></h2>
    <ul>
      @if (authService.isAuthenticated()) { @if(authService.gettoken().userRole
      ==="admin"){
      <li>
        <a routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>
      <li (click)="authService.logoutUser()">logout</li>
      }@else {
      <li><a routerLink="/user" routerLinkActive="active">UserData</a></li>
      <li (click)="authService.logoutUser()">logout</li>
      } }@else {
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/signup" routerLinkActive="active">SignUp</a></li>
      }
    </ul>
  </nav>

  <hr />
</div>

<!-- <div>
  <nav>
    <h2><a routerLink="/">Employee Managment</a></h2>
    <ul>
      @if (authService.isAuthenticated()) { @if(authService.gettoken().userRole
      ==="admin"){
      <li>
        <a routerLink="/admin" routerLinkActive="active">Admin {{ data }}</a>
      </li>
      <li (click)="authService.logoutUser()">logout</li>
      }@else {
      <li><a routerLink="/user" routerLinkActive="active">UserData</a></li>
      <li (click)="authService.logoutUser()">logout</li>
      } }@else {
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/signup" routerLinkActive="active">SignUp</a></li>
      }
    </ul>
  </nav>

  <hr />
</div> -->
