<div class="center">
  <div class="card-container">
    <div *ngFor="let user of AllUsersData" class="user-card">
      <a
        [href]="'/admin/Salary/' + user.id"
        style="text-decoration: none;"
        class="anchor"
      >
      <h3>{{ user.name }}</h3>
      <p>Email: {{ user.email }}</p>
      <p>Role: {{ user.roles }}</p>
    </a>
      <!-- <a
        [href]="'/usersAttendances/' + user.attendance.id"
        style="text-decoration: none;"
        class="anchor"
      >
        <div *ngIf="user.attendance" class="attendance">
          <h4>
            Attendance
            <span
              style="
                text-decoration: underline;
                color: grey;
                opacity: 0.5;
                font-size: 12px;
              "
              >{{ user.attendance.id }}</span
            >
          </h4>
          <p>Dated: {{ user.attendance.attendanceDate | date }}</p>
          <p>
            Check-In: {{ user.attendance.checkInTime | date : "shortTime" }}
          </p>
          <p>
            Check-Out: {{ user.attendance.checkOutTime | date : "shortTime" }}
          </p>
          <p>Hours Worked: {{ user.attendance.totalHoursWorked }}</p>
          <p>Status: {{ user.attendance.attendanceStatus }}</p>
        </div>
      </a>
      <a
        [href]="'/usersSalaries/' + user.salary.id"
        style="text-decoration: none"
      >
        <div *ngIf="user.salary" class="salary">
          <h4>
            Salary
            <span
              style="
                text-decoration: underline;
                color: grey;
                opacity: 0.5;
                font-size: 12px;
              "
              >{{ user.salary.id }}</span
            >
          </h4>
          <p>Net Salary: {{ user.salary.netSalary | currency }}</p>
          <p>Allowances: {{ user.salary.allowances }}</p>
          <p>Pay Method: {{ user.salary.payMethod }}</p>
        </div>
      </a> -->
      <button class="delete-button">Delete</button>
    </div>
  </div>
</div>
