<div class="center">
  <div *ngIf="UsersData && UsersData.length > 0" class="user-profile">
    <div class="profile-header">
      <h2>{{ UsersData[0].name | uppercase }}</h2>
      <p>Email: {{ UsersData[0].email }}</p>
      <p>Role: {{ UsersData[0].roles }}</p>
    </div>
    <div class="profile-details">
     <h1>Employee Attendance&Salary Details</h1>
    </div>
  </div>
</div>

<div class="button-container">
  <button class="clock-button clock-in" (click)="clockedIn()">Clock In</button>
  <button class="clock-button clock-out" (click)="clockedOut()">Clock Out</button>
</div>

<div style="margin: 4rem;">
  <app-charts></app-charts>
</div>

<div *ngIf="authenticatedEmployeeSalary && authenticatedEmployeeSalary.length" style="display: flex; justify-content: center;align-items: center;">
  <div *ngFor="let salary of authenticatedEmployeeSalary" class="salary-card">
    <div class="card-header">
      <h2>Employee: {{salary.user.name | uppercase}}</h2>
    </div>
    <div class="card-body">
      <p><strong>Net Salary:</strong> {{salary.netSalary | currency:"PKR"}}</p>
      <p><strong>Allowances:</strong> {{salary.allowances}}</p>
      <p><strong>Payment Method:</strong> {{salary.payMethod}}</p>
    </div>
  </div>
</div>



