<div class="container">
    <h2>Update Attendance</h2>
    <form [formGroup]="updateAttendanceForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="attendanceDate">Date</label>
        <input id="attendanceDate" type="date" formControlName="attendanceDate" class="form-control" placeholder="Enter Date" />
      </div>
      <div class="form-group">
        <label for="checkInTime">Check-In Time</label>
        <input id="checkInTime" type="time" formControlName="checkInTime" class="form-control" placeholder="Enter Check-In Time" />
      </div>
      <div class="form-group">
        <label for="checkOutTime">Check-Out Time</label>
        <input id="checkOutTime" type="time" formControlName="checkOutTime" class="form-control" placeholder="Enter Check-Out Time" />
      </div>
      <div class="form-group">
        <label for="totalHoursWorked">Hours Worked</label>
        <input id="totalHoursWorked" type="number" formControlName="totalHoursWorked" class="form-control" placeholder="Enter Hours Worked" />
      </div>
      <div class="form-group">
        <label for="attendanceStatus">Status</label>
        <input id="attendanceStatus" type="text" formControlName="attendanceStatus" class="form-control" placeholder="Enter Attendance Status" />
      </div>
      <div class="button-container">
        <button type="submit" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-danger" (click)="onReset()">Reset</button>
      </div>
    </form>
  </div>
  